@charset "utf-8";

.arr {
	position: relative;
	width: 11px;
	height: 11px;
}

.arr:before,
.arr:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	background: url(../img/icons.png) no-repeat -62px -400px;
	background-size: 120px auto;
}

.arr:after {
	opacity: 0;
	background-position: -73px -400px;
}

.case .next .pic {
	position: relative;
	width: 62px;
	height: 62px;
}

.case .next .pic:before,
.case .next .pic:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../img/icons.png) no-repeat 0 -400px;
	background-size: 120px auto;
}

.ic {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
}

.ic:before,
.ic:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	background: url(../img/icons.png) no-repeat 0 -100000px;
	background-size: 300% auto;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.ic:after {
	opacity: 0;
}

a:hover .ic:before,
a.ic:hover:before, .toggle:hover .ic:before, .hover .toggle .ic:before, .open .toggle .ic:before {
	opacity: 0;
}

a:hover .ic:after,
a.ic:hover:after, .toggle:hover .ic:after, .hover .toggle .ic:after, .open .toggle .ic:after {
	opacity: 1;
}

.ic-bitcoin:before {
 background-position: calc(0 * -40px) calc(0 * -40px);
}

.ic-bitcoin:after {
 background-position: calc(1 * -40px) calc(0 * -40px);
}

.ic-bitcoin.white:before {
 background-position: calc(2 * -40px) calc(0 * -40px);
}

.ic-facebook:before {
 background-position: calc(0 * -40px) calc(1 * -40px);
}

.ic-facebook:after {
 background-position: calc(1 * -40px) calc(1 * -40px);
}

.ic-facebook.white:before {
 background-position: calc(2 * -40px) calc(1 * -40px);
}

.ic-slack:before {
 background-position: calc(0 * -40px) calc(2 * -40px);
}

.ic-slack:after {
 background-position: calc(1 * -40px) calc(2 * -40px);
}

.ic-slack.white:before {
 background-position: calc(2 * -40px) calc(2 * -40px);
}

.ic-reddit:before {
 background-position: calc(0 * -40px) calc(3 * -40px);
}

.ic-reddit:after {
 background-position: calc(1 * -40px) calc(3 * -40px);
}

.ic-reddit.white:before {
 background-position: calc(2 * -40px) calc(3 * -40px);
}

.ic-twitter:before {
 background-position: calc(0 * -40px) calc(4 * -40px);
}

.ic-twitter:after {
 background-position: calc(1 * -40px) calc(4 * -40px);
}

.ic-twitter.white:before {
 background-position: calc(2 * -40px) calc(4 * -40px);
}

.ic-medium:before {
 background-position: calc(0 * -40px) calc(5 * -40px);
}

.ic-medium:after {
 background-position: calc(1 * -40px) calc(5 * -40px);
}

.ic-medium.white:before {
 background-position: calc(2 * -40px) calc(5 * -40px);
}

.ic-telegram:before {
 background-position: calc(0 * -40px) calc(6 * -40px);
}

.ic-telegram:after {
 background-position: calc(1 * -40px) calc(6 * -40px);
}

.ic-telegram.white:before {
 background-position: calc(2 * -40px) calc(6 * -40px);
}

.ic-google:before {
 background-position: calc(0 * -40px) calc(7 * -40px);
}

.ic-google:after {
 background-position: calc(1 * -40px) calc(7 * -40px);
}

.ic-google.white:before {
 background-position: calc(2 * -40px) calc(7 * -40px);
}

.ic-calendar:before {
 background-position: calc(0 * -40px) calc(8 * -40px);
}

.ic-calendar:after {
 background-position: calc(1 * -40px) calc(8 * -40px);
}

.ic-calendar.white:before {
 background-position: calc(2 * -40px) calc(8 * -40px);
}

.ic-github:before {
 background-position: calc(0 * -40px) calc(9 * -40px);
}

.ic-github:after {
 background-position: calc(1 * -40px) calc(9 * -40px);
}

.ic-github.white:before {
 background-position: calc(2 * -40px) calc(9 * -40px);
}

.ic-youtube:before {
 background-position: calc(0 * -40px) calc(14 * -40px);
}

.ic-youtube:after {
 background-position: calc(1 * -40px) calc(14 * -40px);
}

.ic-youtube.white:before {
 background-position: calc(2 * -40px) calc(14 * -40px);
}

.ic-linkedin:before {
 background-position: calc(0 * -40px) calc(15 * -40px);
}

.ic-linkedin:after {
 background-position: calc(1 * -40px) calc(15 * -40px);
}

.ic-linkedin.white:before {
 background-position: calc(2 * -40px) calc(15 * -40px);
}

.ic-hz:before {
 background-position: calc(0 * -40px) calc(16 * -40px);
}

.ic-hz:after {
 background-position: calc(1 * -40px) calc(16 * -40px);
}

.ic-hz.white:before {
 background-position: calc(2 * -40px) calc(16 * -40px);
}

.ic.ic-user:before {
 background-position: calc(0 * -40px) calc(17 * -40px);
}

.ic.ic-user:after {
 background-position: calc(1 * -40px) calc(17 * -40px);
}

.ic.ic-user.white:before {
 background-position: calc(2 * -40px) calc(17 * -40px);
}

.ic.ic-planet:before {
 background-position: calc(0 * -40px) calc(18 * -40px);
}

.ic.ic-planet:after {
 background-position: calc(1 * -40px) calc(18 * -40px);
}

.ic.ic-planet.white:before {
 background-position: calc(2 * -40px) calc(18 * -40px);
}

.ic.ic-twitter-big:before {
 background-position: calc(0 * -40px) calc(19 * -40px);
}

.ic.ic-twitter-big:after {
 background-position: calc(1 * -40px) calc(19 * -40px);
}

.ic.ic-twitter-big.white:before {
 background-position: calc(2 * -40px) calc(19 * -40px);
}
.ic.ic-github-light:before {
 background-position: calc(0 * -40px) calc(20 * -40px);
}

.ic.ic-github-light:after {
 background-position: calc(1 * -40px) calc(20 * -40px);
}

.ic.ic-github-light.white:before {
 background-position: calc(2 * -40px) calc(20 * -40px);
}
.ic.ic-info:before {
 background-position: calc(0 * -40px) calc(21 * -40px);
}

.ic.ic-info:after {
 background-position: calc(1 * -40px) calc(21 * -40px);
}

.ic.ic-info.white:before {
 background-position: calc(2 * -40px) calc(21 * -40px);
}.ic.ic-wallet, .ic.ic-wallet:before, .ic.ic-wallet:after{
	border-radius: 0;
}
.ic.ic-wallet:before {
 background-position: calc(0 * -40px) calc(22 * -40px);
}

.ic.ic-wallet:after {
 background-position: calc(1 * -40px) calc(22 * -40px);
}

.ic.ic-wallet.white:before {
 background-position: calc(2 * -40px) calc(22 * -40px);
}
.ic.ic-bitcoin-border:before {
 background-position: calc(0 * -40px) calc(23 * -40px);
}

.ic.ic-bitcoin-border:after {
 background-position: calc(1 * -40px) calc(23 * -40px);
}

.ic.ic-bitcoin-border.white:before {
 background-position: calc(2 * -40px) calc(23 * -40px);
}

.ic.med {
	width: 32px;
	height: 32px;
}

.ic.med.ic-bitcoin:before {
 background-position: calc(0 * -32px) calc(0 * -32px);
}

.ic.med.ic-bitcoin:after {
 background-position: calc(1 * -32px) calc(0 * -32px);
}

.ic.med.ic-bitcoin.white:before {
 background-position: calc(2 * -32px) calc(0 * -32px);
}

.ic.med.ic-facebook:before {
 background-position: calc(0 * -32px) calc(1 * -32px);
}

.ic.med.ic-facebook:after {
 background-position: calc(1 * -32px) calc(1 * -32px);
}

.ic.med.ic-facebook.white:before {
 background-position: calc(2 * -32px) calc(1 * -32px);
}

.ic.med.ic-slack:before {
 background-position: calc(0 * -32px) calc(2 * -32px);
}

.ic.med.ic-slack:after {
 background-position: calc(1 * -32px) calc(2 * -32px);
}

.ic.med.ic-slack.white:before {
 background-position: calc(2 * -32px) calc(2 * -32px);
}

.ic.med.ic-reddit:before {
 background-position: calc(0 * -32px) calc(3 * -32px);
}

.ic.med.ic-reddit:after {
 background-position: calc(1 * -32px) calc(3 * -32px);
}

.ic.med.ic-reddit.white:before {
 background-position: calc(2 * -32px) calc(3 * -32px);
}

.ic.med.ic-twitter:before {
 background-position: calc(0 * -32px) calc(4 * -32px);
}

.ic.med.ic-twitter:after {
 background-position: calc(1 * -32px) calc(4 * -32px);
}

.ic.med.ic-twitter.white:before {
 background-position: calc(2 * -32px) calc(4 * -32px);
}

.ic.med.ic-medium:before {
 background-position: calc(0 * -32px) calc(5 * -32px);
}

.ic.med.ic-medium:after {
 background-position: calc(1 * -32px) calc(5 * -32px);
}

.ic.med.ic-medium.white:before {
 background-position: calc(2 * -32px) calc(5 * -32px);
}

.ic.med.ic-telegram:before {
 background-position: calc(0 * -32px) calc(6 * -32px);
}

.ic.med.ic-telegram:after {
 background-position: calc(1 * -32px) calc(6 * -32px);
}

.ic.med.ic-telegram.white:before {
 background-position: calc(2 * -32px) calc(6 * -32px);
}

.ic.med.ic-google:before {
 background-position: calc(0 * -32px) calc(7 * -32px);
}

.ic.med.ic-google:after {
 background-position: calc(1 * -32px) calc(7 * -32px);
}

.ic.med.ic-google.white:before {
 background-position: calc(2 * -32px) calc(7 * -32px);
}

.ic.med.ic-calendar:before {
 background-position: calc(0 * -32px) calc(8 * -32px);
}

.ic.med.ic-calendar:after {
 background-position: calc(1 * -32px) calc(8 * -32px);
}

.ic.med.ic-calendar.white:before {
 background-position: calc(2 * -32px) calc(8 * -32px);
}

.ic.med.ic-github:before {
 background-position: calc(0 * -32px) calc(9 * -32px);
}

.ic.med.ic-github:after {
 background-position: calc(1 * -32px) calc(9 * -32px);
}

.ic.med.ic-github.white:before {
 background-position: calc(2 * -32px) calc(9 * -32px);
}

.ic.med.ic-youtube:before {
 background-position: calc(0 * -32px) calc(14 * -32px);
}

.ic.med.ic-youtube:after {
 background-position: calc(1 * -32px) calc(14 * -32px);
}

.ic.med.ic-youtube.white:before {
 background-position: calc(2 * -32px) calc(14 * -32px);
}

.ic.med.ic-linkedin:before {
 background-position: calc(0 * -32px) calc(15 * -32px);
}

.ic.med.ic-linkedin:after {
 background-position: calc(1 * -32px) calc(15 * -32px);
}

.ic.med.ic-linkedin.white:before {
 background-position: calc(2 * -32px) calc(15 * -32px);
}

.ic.med.ic-hz:before {
 background-position: calc(0 * -32px) calc(16 * -32px);
}

.ic.med.ic-hz:after {
 background-position: calc(1 * -32px) calc(16 * -32px);
}

.ic.med.ic-hz.white:before {
 background-position: calc(2 * -32px) calc(16 * -32px);
}

.ic.med.ic-user:before {
 background-position: calc(0 * -32px) calc(17 * -32px);
}

.ic.med.ic-user:after {
 background-position: calc(1 * -32px) calc(17 * -32px);
}

.ic.med.ic-user.white:before {
 background-position: calc(2 * -32px) calc(17 * -32px);
}

.ic.med.ic-planet:before {
 background-position: calc(0 * -32px) calc(18 * -32px);
}

.ic.med.ic-planet:after {
 background-position: calc(1 * -32px) calc(18 * -32px);
}

.ic.med.ic-planet.white:before {
 background-position: calc(2 * -32px) calc(18 * -32px);
}
.ic.med.ic-twitter-big:before {
 background-position: calc(0 * -32px) calc(19 * -32px);
}

.ic.med.ic-twitter-big:after {
 background-position: calc(1 * -32px) calc(19 * -32px);
}

.ic.med.ic-twitter-big.white:before {
 background-position: calc(2 * -32px) calc(19 * -32px);
}
.ic.med.ic-github-light:before {
 background-position: calc(0 * -32px) calc(20 * -32px);
}

.ic.med.ic-github-light:after {
 background-position: calc(1 * -32px) calc(20 * -32px);
}

.ic.med.ic-github-light.white:before {
 background-position: calc(2 * -32px) calc(20 * -32px);
}.ic.med.ic-info:before {
 background-position: calc(0 * -32px) calc(21 * -32px);
}

.ic.med.ic-info:after {
 background-position: calc(1 * -32px) calc(21 * -32px);
}

.ic.med.ic-info.white:before {
 background-position: calc(2 * -32px) calc(21 * -32px);
}.ic.med.ic-wallet:before {
 background-position: calc(0 * -32px) calc(22 * -32px);
}

.ic.med.ic-wallet:after {
 background-position: calc(1 * -32px) calc(22 * -32px);
}

.ic.med.ic-wallet.white:before {
 background-position: calc(2 * -32px) calc(22 * -32px);
}
.ic.med.ic-bitcoin-border:before {
 background-position: calc(0 * -32px) calc(23 * -32px);
}

.ic.med.ic-bitcoin-border:after {
 background-position: calc(1 * -32px) calc(23 * -32px);
}

.ic.med.ic-bitcoin-border.white:before {
 background-position: calc(2 * -32px) calc(23 * -32px);
}
.ic.small {
	width: 24px;
	height: 24px;
}

.ic.small.ic-bitcoin:before {
 background-position: calc(0 * -24px) calc(0 * -24px);
}

.ic.small.ic-bitcoin:after {
 background-position: calc(1 * -24px) calc(0 * -24px);
}

.ic.small.ic-bitcoin.white:before {
 background-position: calc(2 * -24px) calc(0 * -24px);
}

.ic.small.ic-facebook:before {
 background-position: calc(0 * -24px) calc(1 * -24px);
}

.ic.small.ic-facebook:after {
 background-position: calc(1 * -24px) calc(1 * -24px);
}

.ic.small.ic-facebook.white:before {
 background-position: calc(2 * -24px) calc(1 * -24px);
}

.ic.small.ic-slack:before {
 background-position: calc(0 * -24px) calc(2 * -24px);
}

.ic.small.ic-slack:after {
 background-position: calc(1 * -24px) calc(2 * -24px);
}

.ic.small.ic-slack.white:before {
 background-position: calc(2 * -24px) calc(2 * -24px);
}

.ic.small.ic-reddit:before {
 background-position: calc(0 * -24px) calc(3 * -24px);
}

.ic.small.ic-reddit:after {
 background-position: calc(1 * -24px) calc(3 * -24px);
}

.ic.small.ic-reddit.white:before {
 background-position: calc(2 * -24px) calc(3 * -24px);
}

.ic.small.ic-twitter:before {
 background-position: calc(0 * -24px) calc(4 * -24px);
}

.ic.small.ic-twitter:after {
 background-position: calc(1 * -24px) calc(4 * -24px);
}

.ic.small.ic-twitter.white:before {
 background-position: calc(2 * -24px) calc(4 * -24px);
}

.ic.small.ic-medium:before {
 background-position: calc(0 * -24px) calc(5 * -24px);
}

.ic.small.ic-medium:after {
 background-position: calc(1 * -24px) calc(5 * -24px);
}

.ic.small.ic-medium.white:before {
 background-position: calc(2 * -24px) calc(5 * -24px);
}

.ic.small.ic-telegram:before {
 background-position: calc(0 * -24px) calc(6 * -24px);
}

.ic.small.ic-telegram:after {
 background-position: calc(1 * -24px) calc(6 * -24px);
}

.ic.small.ic-telegram.white:before {
 background-position: calc(2 * -24px) calc(6 * -24px);
}

.ic.small.ic-google:before {
 background-position: calc(0 * -24px) calc(7 * -24px);
}

.ic.small.ic-google:after {
 background-position: calc(1 * -24px) calc(7 * -24px);
}

.ic.small.ic-google.white:before {
 background-position: calc(2 * -24px) calc(7 * -24px);
}

.ic.small.ic-calendar:before {
 background-position: calc(0 * -24px) calc(8 * -24px);
}

.ic.small.ic-calendar:after {
 background-position: calc(1 * -24px) calc(8 * -24px);
}

.ic.small.ic-calendar.white:before {
 background-position: calc(2 * -24px) calc(8 * -24px);
}

.ic.small.ic-github:before {
 background-position: calc(0 * -24px) calc(9 * -24px);
}

.ic.small.ic-github:after {
 background-position: calc(1 * -24px) calc(9 * -24px);
}

.ic.small.ic-github.white:before {
 background-position: calc(2 * -24px) calc(9 * -24px);
}

.ic.small.ic-youtube:before {
 background-position: calc(0 * -24px) calc(14 * -24px);
}

.ic.small.ic-youtube:after {
 background-position: calc(1 * -24px) calc(14 * -24px);
}

.ic.small.ic-youtube.white:before {
 background-position: calc(2 * -24px) calc(14 * -24px);
}

.ic.small.ic-linkedin:before {
 background-position: calc(0 * -24px) calc(15 * -24px);
}

.ic.small.ic-linkedin:after {
 background-position: calc(1 * -24px) calc(15 * -24px);
}

.ic.small.ic-linkedin.white:before {
 background-position: calc(2 * -24px) calc(15 * -24px);
}

.ic.small.ic-hz:before {
 background-position: calc(0 * -24px) calc(16 * -24px);
}

.ic.small.ic-hz:after {
 background-position: calc(1 * -24px) calc(16 * -24px);
}

.ic.small.ic-hz.white:before {
 background-position: calc(2 * -24px) calc(16 * -24px);
}

.ic.small.ic-user:before {
 background-position: calc(0 * -24px) calc(17 * -24px);
}

.ic.small.ic-user:after {
 background-position: calc(1 * -24px) calc(17 * -24px);
}

.ic.small.ic-user.white:before {
 background-position: calc(2 * -24px) calc(17 * -24px);
}

.ic.small.ic-planet:before {
 background-position: calc(0 * -24px) calc(18 * -24px);
}

.ic.small.ic-planet:after {
 background-position: calc(1 * -24px) calc(18 * -24px);
}

.ic.small.ic-planet.white:before {
 background-position: calc(2 * -24px) calc(18 * -24px);
}.ic.small.ic-twitter-big:before {
 background-position: calc(0 * -24px) calc(19 * -24px);
}

.ic.small.ic-twitter-big:after {
 background-position: calc(1 * -24px) calc(19 * -24px);
}

.ic.small.ic-twitter-big.white:before {
 background-position: calc(2 * -24px) calc(19 * -24px);
}.ic.small.ic-github-light:before {
 background-position: calc(0 * -24px) calc(20 * -24px);
}

.ic.small.ic-github-light:after {
 background-position: calc(1 * -24px) calc(20 * -24px);
}

.ic.small.ic-github-light.white:before {
 background-position: calc(2 * -24px) calc(20 * -24px);
}.ic.small.ic-info:before {
 background-position: calc(0 * -24px) calc(21 * -24px);
}

.ic.small.ic-info:after {
 background-position: calc(1 * -24px) calc(21 * -24px);
}

.ic.small.ic-info.white:before {
 background-position: calc(2 * -24px) calc(21 * -24px);
}.ic.small.ic-wallet:before {
 background-position: calc(0 * -24px) calc(22 * -24px);
}

.ic.small.ic-wallet:after {
 background-position: calc(1 * -24px) calc(22 * -24px);
}

.ic.small.ic-wallet.white:before {
 background-position: calc(2 * -24px) calc(22 * -24px);
}.ic.small.ic-bitcoin-border:before {
 background-position: calc(0 * -24px) calc(23 * -24px);
}

.ic.small.ic-bitcoin-border:after {
 background-position: calc(1 * -24px) calc(23 * -24px);
}

.ic.small.ic-bitcoin-border.white:before {
 background-position: calc(2 * -24px) calc(23 * -24px);
}
.ic.blue:before{
	opacity: 0;
}.ic.blue:after{
	opacity: 1;
}