@charset "utf-8";

@media only screen and (max-width: 750px) {

.cover-notif {
	margin: 96px 10px;
}

.cover-notif .toggle {
	width: 40px;
	height: 40px;
}

.cover-notif .hold-notif {
	min-height: 40px;
	margin-bottom: 26px;
	width: 40px;
}

.cover-notif.hidden-all .hold-notif {
	min-height: 0;
}

.cover-notif .notif {
	margin-left: -260px;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

h1,
.h1,
.dashboard h1,
.profile-form h1,
.manual h1 {
	letter-spacing: -0.44px;
	line-height: 1.2;
	font-size: 40px;
	margin-bottom: 18px;
}

h2,
.h2 {
	font-size: 32px;
	letter-spacing: -0.5px;
}

.menu-mob {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transform: translate3d(100%, 0, 0);
	        transform: translate3d(100%, 0, 0);
}

.menu {
	margin: 0 auto 0 -6px;
}

.menu .hide-mob {
	display: none;
}

.header {
	position: relative;
}

.header-place {
	display: none;
}

.header .container,
 input:checked + .header .container,
input:checked + .header + .header-place,
input:checked ~ .header-place {
	height: auto!important;
}

.header .head-r {
	display: none;
}

input:checked + .header .menu-mob {
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.header.white-header .head-r {
	background: #f7f9fa;
}

.header .logo {
	padding-top: 18px;
	margin-bottom: 0;
}

.header .logo img {
	width: 140px;
}

.menu {
	font-size: 14px;
	padding-bottom: 10px;
}

.header .toggle-menu {
	position: absolute;
	top: 59px;
	-webkit-transform: scale(0.9);
	        -ms-transform: scale(0.9);
	    transform: scale(0.9);
}

.top-info {
	padding: 22px 0;
}

.top-info .links {
	letter-spacing: 0.75px;
	font-size: 16px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 38px;
}

.top-info .links > * {
	margin: 0 0 5px 0;
}

.top-info .links .sep {
	display: none;
}

.header.white-header .logo img {
	opacity: 0;
}

.header.white-header .logo img:nth-child(2) {
	top: 18px;
}

.grey-header {
	background: #202326 !important;
	margin-bottom: -1px;
	padding-left: 0;
}

input:checked + .header.white-header .logo img {
	opacity: 1;
}

input:checked + .header.white-header .logo img:nth-child(2) {
	opacity: 0;
}

.header.white-header .menu-mob .menu a,
.header.white-header .menu-mob .menu .link {
	color: #202326;
}

.header.white-header .menu-mob .menu a:hover,
.header.white-header .menu-mob .menu .active,
.header.white-header .menu-mob .menu .toggle:hover,
.header.white-header .menu-mob .menu > li.hover .toggle,
.header.white-header .menu-mob .menu > li.open .toggle,
.header.white-header .menu-mob .sub a:hover,
.header.white-header .menu-mob .sub .active {
	color: #0DA9FF;
}

.header.white-header .menu-mob .lang .toggle .ic {
	opacity: 1;
}

.header.white-header .menu-mob .lang .toggle .ic.white {
	opacity: 0;
}

.header.white-header .toggle-menu > * {
	background: #fff;
}

#show-menu:checked + .header.white-header .toggle-menu > .pos1,
.header.white-header .toggle-menu.close > .pos1 {
	background: #FFB900;
}

#show-menu:checked + .header.white-header .toggle-menu > .pos3,
.header.white-header .toggle-menu.close > .pos3 {
	background: #FFB900;
}

.header.white-header .user-menu {
	border-left-color: rgba(13, 169, 255, 0.2);
}

.header.white-header .user-menu,
.header.white-header .user-menu a {
	color: #0DA9FF;
}

.header.white-header .user-menu .ic {
	opacity: 1;
}

.header.white-header .user-menu .ic.white {
	opacity: 0;
}

.scroll .header.white-header .user-menu {
	border-left-color: rgba(13, 169, 255, 0.2);
}

.scroll .header.white-header .user-menu,
.scroll .header.white-header .user-menu a {
	color: #0DA9FF;
}

.scroll .header.white-header .user-menu .ic {
	opacity: 1;
}

.scroll .header.white-header .user-menu .ic.white {
	opacity: 0;
}

.timer .t,
.subscr {
	padding-left: 20px;
	padding-right: 20px;
}

.timer .t {
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 13px;
	padding-bottom: 18px;
}

.timer .left {
	letter-spacing: 1px;
	font-size: 16px;
}

.timer .remind {
	font-size: 16px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.timer .remind {
	margin: 10px -8px 0 -8px;
}

.timer .remind .ic {
	margin: 0 8px;
}

.subscr {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.subscr .btn.l {
	width: 100%;
	margin: 0 0 15px 0;
}

.subscr .btn.r {
	width: 100%;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	margin: 15px 0 0 0;
	height: 40px;
	line-height: 38px;
}

.subscr .input {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
}

.subscr .input input {
}

.what {
	padding-top: 27px;
	padding-bottom: 19px;
}

.what,
.what2,
.why {
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
}

.what h2 {
	height: 113px;
	background-image: url(../img/what-mob.png);
	margin-bottom: 29px;
}

.what .ind,
.what2 .ind,
.why .ind {
	width: auto;
	padding: 0 10px;
}

.what .bg-card {
	display: none!important;
}

.news {
	display: none;
}

.cases {
	padding-top: 13px;
	padding-bottom: 12px;
}

.cases .links {
	display: none;
}

.cases h2 {
	margin-bottom: 39px;
}

.case {
	font-size: 14px;
	line-height: 1.72;
}

.case h3 {
	margin-bottom: 8px;
}

.case .img {
	margin: 0 10px 23px 10px;
	height: 240px;
}

.case .next {
	display: none;
}

.case .ind {
	min-height: 0;
	height: auto;
}

.case .text,
.case .next {
	padding-top: 0;
}

.case .text {
	padding-left: 0;
	padding-right: 0;
	width: auto;
	text-align: center;
}

.case .text .link {
	margin-top: 8px;
}

.events {
	background: none;
	padding-bottom: 25px;
	border-bottom: 1px solid rgba(13, 169, 255, 0.2);
}

.events h2 {
	margin-bottom: 30px!important;
}

.events-list {
	overflow: auto;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	padding: 15px 5px 25px 5px;
	margin: -15px 0 -25px 0;
}

.events-list:before,
.events-list:after,
.events-list li:before,
.events-list li:after {
	display: none;
}

.events-list li {
	margin: 0 5px;
	width: calc(100vw - 40px);
	max-width: 350px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 20px rgba(19, 119, 174, 0.3);
	        box-shadow: 0 5px 20px rgba(19, 119, 174, 0.3);
}

.follow {
	padding-top: 25px;
	padding-bottom: 32px;
}

.presale h1 img {
	max-height: 29px;
}

.help-title {
	padding-bottom: 31px;
}

.structure .hold {
	padding: 0 5px;
	display: block;
	margin-top: 6.7vw;
	margin-bottom: 30.2vw;
}

.structure .hold .el {
	width: auto;
	margin-top: -13.4vw;
	margin-bottom: -30.2vw;
}

.profile-form .submit {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.profile-form .submit > * {
	margin-top: 24px;
}

.profile-form .submit > *:first-child {
	margin-top: 0;
}

.profile-form .submit .cancel {
	margin-left: 0;
}

.profile-form .terms {
	height: 60vh;
}

.profile-form .terms .ind {
	padding-left: 10px;
	padding-right: 28px;
}

.dashboard .wallet-num .code {
	font-size: 3.2vw;
}

.dashboard-info {
	padding-left: 44px;
	padding-right: 10px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.dashboard-info:before {
	left: 22px;
}

.dashboard-info .remind {
	margin-left: -12px;
	margin-top: 14px;
}

.roadmap:before {
	height: 530px;
}

.roadmap .point {
	font-size: 15px;
	line-height: 24px;
}

.roadmap .link-join .btn {
	min-width: 0;
	width: 100%;
}

.join-us {
	padding-top: 29px;
	padding-bottom: 35px;
}

.join-us .btn-hold {
	margin-top: 14px;
}

.top50 {
	font-size: 14px;
	padding-top: 40px;
	padding-bottom: 27px;
}

.top50 img {
	margin-bottom: 23px;
	max-height: 29px;
}

.top50 .link {
	margin-top: 6px;
}

.contact {
	padding-bottom: 22px;
}

.contact .subscr2 {
}

.contact .subscr2 .in {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	margin-top: 22px;
}

.contact .subscr2 .btn {
	margin: 16px 0 0 0;
}

.contact .soc {
}

.contact .soc .in {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 14px;
}

.contact .soc .in.ind2 {
	margin-top: -6px;
}

.bmenu {
	padding-top: 30px;
	padding-bottom: 30px;
}

.bmenu .sep {
	display: block;
	height: 16px;
	text-align: left;
	text-indent: -100000px;
	overflow: hidden;
}

.bmenu .show-mob {
	display: block;
}

.credentials ul {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: -10px;
}

.credentials strong {
	font-weight: 600;
}

.partners ul {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0;
	margin-bottom: 34px;
}

.partners li {
	width: 100%;
	padding-top: 6px;
	padding-bottom: 11px;
}

.partners ul img {
	height: 92px;
	width: auto;
}

.copyright {
	font-size: 14px;
	padding-bottom: 31px;
}

.copyright .container:before {
	margin-bottom: 31px;
}

.copyright .show-mob {
	display: block;
}

.case-page {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.case-page .head {
	margin: 0 0 9px 0;
	padding-top: 95px;
}

.case-page .head .t {
	margin: 14px 0;
}

.case-page .head h1 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.75px;
}

.case-page h2 {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.31px;
	margin: 16px 0 6px 0;
}

.case-page h2:first-child {
	margin-top: 0;
}

.case-page .info {
	text-align: left;
	background: rgba(10, 60, 87, 0.03);
	padding: 30px 0 34px 0;
	margin: 34px 0 25px 0;
}

.case-page .info .max {
	max-width: 980px;
}

.case-page .info .l {
	margin-bottom: 8px;
}

.work-steps {
	margin: 23px 0;
}

.work-steps .hide-mob {
	display: none;
}

.work-steps .t,
.work-steps .b {
	font-size: 16px;
	padding: 8px;
}

.work-steps .t {
	margin: 0 0 55px 0;
}

.work-steps .b {
	background: #13C600;
	margin: 65px 0 0 0;
}

.work-steps .b:before {
	background-image: url(../img/step-arr-green.png);
	bottom: 100%;
	margin-bottom: 15px;
}

.work-steps .step {
	margin: 0 0 20px 0;
	padding: 16px 10px 31px 10px;
}

.work-steps .step .big {
	width: auto;
	position: static;
	text-align: center;
	margin: 0 0 8px 0;
	font-size: 16px;
}

.text-scroll {
	margin-top: 40px;
	padding: 28px 0 30px 0;
	text-align: left;
}

.text-scroll h2 {
	line-height: 24px;
	margin-bottom: 10px;
}

.text-scroll .hide-mob {
	display: none;
}

.text-scroll .show-mob {
	display: block;
}

.text-scroll .for-btn {
	margin: 16px 0 0 0;
}

.text-scroll .btn {
	border-radius: 24px;
	height: 48px;
	line-height: 46px;
	font-size: 16px;
	font-weight: 600;
	text-transform: none;
	letter-spacing: -0.25px;
}

.other-cases {
	padding-top: 28px;
	padding-bottom: 4px;
}

.other-cases h2 {
	margin-bottom: 22px;
}

.modal-full {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.demo-page {
	font-size: 14px;
	line-height: 24px;
}

.demo-page h1 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.75px;
	margin-top: 15px;
	margin-bottom: -9px;
}

.demo-page .hold-links {
	padding-bottom: 16px;
}

.demo-page .hold-links .links {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 0;
}

.demo-page .hold-links .links .btn {
	margin: 0 0 16px 0;
}

.demo-page .hold-links .links .btn-blue {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.demo-page h2,
.demo-page .h2-small {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.31px;
	margin-top: -3px;
	margin-bottom: 5px;
}

.demo-page .h2-small {
	text-align: center;
	margin-top: -15px;
}

.demo-page .media {
	margin-top: 25px;
	margin-bottom: 30px;
}

.demo-page .media.video {
	margin-bottom: -73px;
}

.demo-page .bg-under-video {
	padding-top: 98px;
	padding-bottom: 8px;
	margin-bottom: 30px;
}

.demo-page .info .bg {
	text-align: center;
	padding: 0;
}

.demo-page .info {
	margin-bottom: -14px;
}

.demo-page .info .bg:before {
	position: static;
	display: block;
	margin: 0 auto 16px auto;
}

.demo-page .with-info {
	padding-right: 0;
}

.demo-page .info-small {
	position: static;
	top: auto;
	right: auto;
	left: auto;
	margin: 30px 0 -5px 80px;
	padding: 0;
	border: 0;
}

.opinions {
	padding-top: 0;
	margin-top: -26px;
	padding-bottom: 20px;
}

.opinions .hold {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: -20px;
}

.opinions .el {
	padding: 20px;
	width: 100%;
	font-size: 14px;
	line-height: 24px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.opinions .el img {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	width: 140px;
	height: 140px;
	margin: 0 0 20px 0;
}

.opinions .el .info {
	font-size: 12px;
	margin-top: 14px;
}

.use-cases {
	padding-bottom: 32px;
	padding-bottom: 4px;
}

.use-cases h1 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.75px;
	margin: 24px 0 20px 0;
}

.use-cases .top-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.25px;
	margin-bottom: 34px;
}

.cases-menu {
	margin-bottom: 40px;
}

.cases-menu .sep {
	display: block;
	margin: 0;
	height: 0;
	overflow: hidden;
}

.use-cases .line {
	display: none;
}

.cases-grid {
	margin: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.cases-grid .el {
	width: 100%;
}

.use-case {
	width: 300px;
	margin: 0 auto;
	padding-left: 0;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.31px;
	margin-bottom: 32px;
	text-align: center;
}

.use-case .bg {
	left: 50%;
	margin: 0 -110px;
	width: 220px;
}

.use-case img {
	margin: 0 auto 14px auto;
}

.use-case .name {
	min-height: 48px;
	margin-bottom: 19px;
}

.dashboard-page {
	padding-bottom: 10px;
	padding-top: 17px;
}

.dashboard-page .head {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.25px;
	padding-bottom: 17px;
}

.dashboard-page .head .text {
	margin: 0;
}

.dashboard-page .head .text strong {
	display: block;
}

.dashboard-page h1,
.dashboard-page h2 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 1px;
	font-weight: 600;
	margin: 0 0 13px 0;
}

.dashboard-page h2 {
	margin-bottom: 24px;
}

.dashboard-page .wallets {
	padding-bottom: 0;
	padding-top: 8px;
}

.dashboard-page .history {
	padding-top: 24px;
	padding-bottom: 10px;
}

.notification {
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-bottom: 23px;
}

.notification .text {
	font-size: 16px;
	line-height: 24px;
	margin: 0 auto;
	padding: 0 20px;
}

.notification .text .show-mob {
	display: block;
}

.notification .sq {
	width: 56px;
	height: 56px;
}

.notification .pic {
	margin: 0;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.notification .links {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 25px;
	margin-bottom: 8px;
}

.notification .close {
	position: absolute;
	top: 0;
	right: 0;
}

.wallet {
	display: block;
	padding-bottom: 23px;
}

.wallet .name {
	width: auto;
}

.wallet .num {
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0.62px;
	margin: 13px 0;
	padding: 0;
	position: static;
}

.wallet .num .edit {
	top: 0;
	right: 0;
	margin: 7px 10px;
}

.wallet .num textarea {
	height: 42px;
	padding: 5px;
	text-align: center;
}

.wallet .hold-btn {
	margin-top: -7px;
}

.wallet .hold-btn2 {
	margin: 22px 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.wallet.na {
	padding-top: 16px;
}

.table {
	margin-top: 27px;
}

.modal-wallet-num {
	padding: 30px 10px;
	line-height: 24px;
}

.modal-wallet-num h2 {
	font-weight: 600;
	margin: 4px 0 10px 0;
}

.modal-wallet-num .num {
	padding: 10px;
	font-size: 10px;
	line-height: 16px;
}

.modal-wallet-num .num .copy {
	margin-top: 8px;
}

.modal-wallet-num .for-btn .btn {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: normal;
	text-transform: none;
	letter-spacing: normal;
}

.sorry {
	font-size: 16px;
	line-height: 32px;
	padding-bottom: 60px;
}

.top-new {
	padding-top: 22px;
}

.top-new h1 {
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 25px;
	letter-spacing: -0.25px;
}

.top-new h1 img {
	height: 17px;
}

.top-new .timer2 .show-mob {
	display: block;
}

.top-new .timer2 .hide-mob {
	display: none;
}

.top-new .timer2 {
	margin-bottom: 20px;
}

.top-new .for-btn {
	margin-bottom: 28px;
}

.top-new .for-btn .btn {
	min-width: 300px;
}

.top-new .media2 {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: none;
	margin-left: -7px;
	margin-right: -7px;
}

.top-new .media2 li {
	margin-left: 7px;
	margin-right: 7px;
}

.top-new .media2 img.res-mob1 {
	max-width: 59px;
	height: auto;
}

.top-new .media2 img.res-mob2 {
	max-width: 94px;
	height: auto;
}

.top-new .media2 img.res-mob3 {
	max-width: 81px;
	height: auto;
}

.vision {
	padding-top: 23px;
	padding-bottom: 30px;
	font-size: 15px;
	line-height: 24px;
}

.vision h2 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.38px;
	margin-bottom: 14px;
}

.vision .links {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 18px;
	text-align: center;
}

.vision .links .btn {
	min-width: 300px;
	margin: 0 0 13px 0;
}

.quick-news {
	padding: 22px 0 28px 0;
}

.quick-news .l h2 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.38px;
	margin-bottom: 24px;
}

.news-list {
	font-size: 15px;
	line-height: 24px;
}

.news-list li {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.news-list .date {
	width: auto;
}

.news-list .text {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
}

.news-list .open h3 > span {
	font-weight: bold;
	color: #202326;
}

.quick-news .contact {
	padding-top: 35px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.quick-news .contact .subscr2 {
	margin-bottom: 22px;
}

.quick-news .contact .subscr2 .in {
	margin-top: 0;
}

.quick-news .contact .soc {
	margin-bottom: 15px;
}

.quick-news .contact .soc .in {
	margin: -8px;
}

.poap {
	padding: 24px 0 42px 0;
}

.poap h2 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.38px;
	margin: 0 auto 30px auto;
}

.poap .bg {
	background-size: auto 168px;
}

.poap .c {
	height: 240px;
	width: 250px;
}

.poap h3 {
	font-size: 20px;
	letter-spacing: -0.31px;
}

.stat {
	padding: 24px 0;
}

.stat h2 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.38px;
	margin: 0 0 -2px 0;
}

.stat-list {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.25px;
	margin: 0 -20px -6px 0;
}

.stat-list li {
	width: 50%;
	margin-bottom: 6px;
}

.stat-list strong {
	font-size: 32px;
	margin-bottom: -7px;
}

.stat .line {
	margin: 34px -10px 25px -10px;
}

.benefits-mini {
	margin-bottom: 24px;
}

.benefits-mini .dot {
	display: block;
	height: 0;
	text-align: left;
	overflow: hidden;
	margin: 0;
}

.check-at {
	font-size: 16px;
	margin: 0 0 -23px 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.check-at li {
	width: 100%;
	margin-bottom: 23px;
}

.check-at .img {
	margin-bottom: 9px;
}

.roadmap-index {
	padding: 23px 0 10px 0;
}

.roadmap-index h2 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.38px;
	margin: 0 0 7px 0;
}

.cases-index {
	padding: 23px 0 10px 0;
}

.cases-index h2 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.38px;
	margin: 0 0 17px 0;
}

.cases-index .t {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.cases-index .t .tabs {
	margin-bottom: 20px;
}

.cases-slider-index .slick-list {
	padding: 0;
}

.tabs {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-right: -20px;
}

.tabs li {
	border: 0;
	margin: 0 20px 0 0;
	padding: 0;
}

.tabs .tab {
	white-space: nowrap;
	text-align: left;
	padding: 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.tabs .tab .small {
	display: inline;
	margin: 0;
	padding: 0;
	width: 30px;
	text-align: center;
}

.whitelist,
.events {
	padding-top: 23px;
}

.whitelist {
	padding-bottom: 10px;
	font-size: 15px;
	line-height: 24px;
}

.whitelist h2,
.events h2 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.38px;
	margin: 0 0 8px 0;
}

.whitelist h3 {
	margin-bottom: 10px;
	margin-top: 12px;
}

.whitelist li {
	padding-left: 32px;
}

.whitelist li:before {
	left: 6px;
}

.whitelist .sides .r {
	margin-top: 2px;
}

.whitelist .benefits-white {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: -10px;
}

.whitelist .benefits-white li {
	width: auto;
	position: relative;
	padding-left: 80px;
	padding-bottom: 0;
	margin-bottom: 24px;
}

.whitelist .benefits-white img {
	position: absolute;
	top: 2px;
	left: 20px;
}

.wallet-login {
	padding-top: 9px;
}

.wallet-login h1 {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.31px;
}

.wallet-login .check {
	padding-left: 80px;
}

.wallet-login .curr-checks > * {
	width: 33.333%;
}

.wallet-login .submit {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.wallet-login .submit .btn {
	border-radius: 24px;
	height: 48px;
	line-height: 46px;
	font-size: 16px;
	font-weight: 600;
	text-transform: none;
	letter-spacing: -0.25px;
}

.wallet-login .submit .btn + * {
	margin-top: 32px;
}

.modal-in-box .close {
	margin: 0;
}

.rusure {
	padding: 32px 10px;
	font-size: 18px;
	line-height: 32px;
}

.rusure .sure-btns {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.rusure .sure-btns .btn {
	margin: 0 0 32px 0;
	min-width: 240px;
}

.wallet-login .curr-checks {
	margin-right: 0;
	padding-bottom: 10px;
}

.wallet-login .curr-checks > * {
	width: 50%;
	padding-right: 0;
}

.wallet-login .curr-checks .checkbox {
	width: 40px;
	height: 40px;
}

.dashboard-new {
	padding-top: 9px;
}

.dashboard-new .top {
	margin-top: 0;
	margin-bottom: 16px;
}

.dashboard-new .top h1 {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.31px;
	margin-bottom: 6px;
}

.hold-history .toggle {
	font-size: 14px;
	line-height: 32px;
	letter-spacing: -0.22px;
	padding: 8px 10px 18px 36px;
}

.hold-history .toggle .hide-mob {
	display: none;
}

.hold-history .toggle:before,
.hold-history .toggle:after {
	width: 16px;
	height: 16px;
	margin: 16px 10px;
}

.hold-history .in {
	margin-left: 0;
	margin-right: 0;
}

.hold-history .in .close {
	margin: 0;
	top: 0;
	bottom: auto;
	height: 32px;
	width: 32px;
	background-color: #f7f9fa;
}

.hold-history .table {
	padding-bottom: 16px;
}

.hold-history .table table {
	width: auto;
}

.hold-history .table th,
 .hold-history .table td {
	padding-left: 8px;
	padding-right: 8px;
	font-size: 14px;
	line-height: 24px;
}

.hold-history .table th:first-child,
.hold-history .table td:first-child {
	padding-left: 10px;
}

.hold-history .table th:last-child,
.hold-history .table td:last-child {
	padding-right: 32px;
}

.hold-history .table th {
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 1.43px;
	padding-top: 0;
	padding-bottom: 0;
	height: 32px;
}

.hold-history .table td {
	padding-top: 5px;
	padding-bottom: 3px;
}

.my-btc-amount {
	font-size: 14px;
	line-height: 32px;
	letter-spacing: -0.22px;
	padding: 8px 10px;
}

.my-btc-amount .ic {
	margin-right: 6px;
	-webkit-transform: scale(0.666);
	        -ms-transform: scale(0.666);
	    transform: scale(0.666);
	margin: 0 0 0 -4px;
	top: 4px;
}

.my-actions {
	padding: 16px 0 0 0;
	font-size: 14px;
	line-height: 24px;
}

.my-actions .hold {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.my-actions .el,
.my-actions .el:nth-child(5) {
	width: 100%;
	margin: 0 0 32px 0;
}

.my-actions .el .btn {
	-ms-flex-item-align: stretch;
	    -ms-grid-row-align: stretch;
	    align-self: stretch;
}

.my-actions .line {
	display: none;
}

.my-actions .el .text {
	padding-left: 70px;
}

.my-wallets {
	margin-top: 0;
}

.wallet-card {
	margin: 0 -10px 30px -10px;
	border-radius: 0;
	font-size: 14px;
	line-height: 24px;
	padding: 26px 10px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.wallet-card .pic {
	width: 40px;
	height: 40px;
	margin: -20px;
}

.wallet-card .big {
	text-align: center;
}

.wallet-card .qr {
	display: none;
}

.token-progress {
	margin: -6px 0 0 0;
	padding: 0 0 27px 0;
}

.token-progress h2 {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.31px;
	margin: 0 0 16px 0;
}

.token-progress .hide-mob {
	display: none;
}

.token-progress .show-mob {
	display: block;
}

.token-progress .text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.token-progress .text > div {
	width: calc(50% - 10px);
}

.token-progress .text strong {
	margin-top: -8px;
}

.token-progress .line {
	margin: 6px 0 14px 0;
}

.my-info {
	padding: 24px 0;
}

.my-info h2 {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.31px;
	text-align: center;
	margin: 0 0 22px 0;
}

.my-info h3 {
	margin-top: 16px;
}

.my-info h3:first-child {
	margin-top: 0;
}

.my-info .max {
	margin-top: 23px;
}

.notification-new {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 16px;
	line-height: 24px;
	padding: 15px 16px 20px 47px;
}

.notification-new .link {
	margin: 4px 0 0 0;
}

.notification-new .ic {
	top: 0;
	left: 0;
	margin: 16px;
}

.token-sale {
	margin-top: -100px;
	padding-top: 107px;
	height: auto;
	padding-bottom: 22px;
}

.token-sale .bg {
	margin-top: 30px;
}

.token-sale .bg {
	-webkit-transform-origin: 50% 0;
	        -ms-transform-origin: 50% 0;
	    transform-origin: 50% 0;
	-webkit-transform: scale(0.65);
	        -ms-transform: scale(0.65);
	    transform: scale(0.65);
}

.token-sale .bg img {
	height: 462px;
}

.token-sale h1 {
	font-size: 24px;
	line-height: 32px;
	height: 98px;
	letter-spacing: -0.25px;
}

.token-sale .hold {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.token-sale .hold > * {
	width: 100%;
	padding: 0;
	text-align: center;
}

.token-sale .hold .l {
	-webkit-box-ordinal-group: 4;
	    -ms-flex-order: 3;
	        order: 3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;
}

.token-sale .hold .c {
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 1px;
	height: 320px;
	position: relative;
}

.token-sale .hold .r {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
	text-align: center;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 2px;
	margin-bottom: 18px;
	padding: 0;
}

.token-sale h2 {
	font-size: 16px;
	line-height: 32px;
	letter-spacing: -0.4px;
	text-align: center;
}

.token-sale .bonus {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.75px;
	margin: 0 0 10px 0;
}

.token-sale .info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.token-sale .price {
	display: none;
}

.token-sale .line {
	max-width: 300px;
}

.token-sale .c .text {
	margin: 0 0 28px 0;
	display: block;
}

.token-sale .c .btn {
	width: 140px;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	letter-spacing: 1.5px;
}

.token-sale .l ul {
	text-align: left;
	margin: 16px 0 0 42px;
}

.token-sale .l h3 {
	text-align: right;
	padding-right: 7px;
}

.token-sale strong {
	font-weight: inherit;
	font-size: 24px;
}

.token-sale .r h2 {
	margin: 18px 0 -2px 0;
}

.scanner h1 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.38px;
	margin-bottom: 24px;
}

.scanner h2 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.38px;
	margin-bottom: 24px;
}

.scanner .top-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	margin-bottom: 24px;
}

.scanner .hold {
	padding-top: 10px;
}

.scanner .pic-search {
	width: 40px;
	height: 40px;
	border-width: 2px;
	background-size: auto 16px;
	margin: -20px;
}

.scanner .link .btn {
	line-height: 24px;
	border-radius: 24px;
	font-weight: 600;
	font-size: 16px;
	text-transform: none;
	letter-spacing: -0.25px;
	padding: 11px 24px 13px 24px!important;
	height: auto;
}

.scanner .ind {
	padding: 32px 10px;
}

.scanner .label1 {
	margin-bottom: 24px;
}

.scanner .submit {
	margin-top: 32px;
}

.scanner .input {
	margin: 0 0 40px 0;
}

.scanner .powered {
	margin-top: 24px;
	margin-bottom: -24px;
}

.scanner .add-new {
	margin-bottom: 80px;
}

.scanner .add-new .toggle {
	margin-bottom: -25px;
	position: relative;
	z-index: 2;
}

.scanner .add-new .in {
	margin-bottom: 80px;
}

.scanner .add-new .in .ind {
	border-top-width: 2px;
}

.scanner .add-new .in .ind.body {
	padding-top: 64px;
	padding-bottom: 0;
}

.scanner .add-new .submit .btn {
	padding: 0 24px;
}

.scanner .evid .t {
	display: block;
	margin-bottom: 24px;
}

.scanner .evid .t .big {
	margin: 0 0 12px 0;
}

.scanner .evid .t .info {
	margin: 0;
	min-width: 0;
}

.scanner .evid .file {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

.scanner .evid .file .btn {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	margin: 0 0 24px 0;
}

.scanner .back .powered {
	margin: 9px 0 -24px 0;
}

.token-end {
	margin-top: -120px;
	padding-top: 125px;
}

.token-end h1 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.75px;
	margin-bottom: 16px;
}

.token-end .text {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: -0.38px;
	margin-bottom: 20px;
}

.token-end .info {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	margin-bottom: 7px;
}

.token-end .info li {
	width: 100%;
	margin-bottom: 17px;
}

.token-end .info strong {
	margin-top: -2px;
}

.token-end .info .small {
	margin: -3px 0 -11px 0!important;
	letter-spacing: 2.5px;
}

.token-end .link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 32px;
}

.token-end .link .btn {
	padding: 0;
	width: 300px;
}

.wish .big {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.62px;
	margin-bottom: 30px;
}

.wish .ind {
	text-align: center;
	margin-left: 0;
	font-size: 15px;
	line-height: 24px;
}

.wish .ind .max {
	margin: 0 auto;
}

.wish .link2 {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 17px;
}

.wish .ind .dog {
	position: relative;
	bottom: auto;
	right: auto;
	width: 204px;
	height: 191px;
	margin: 20px auto -80px auto;
	left: -10px;
}

.token-end.ny {
	background-image: url(../img/ny/bgr.png), url(../img/ny/tree.png), -webkit-linear-gradient(top, rgba(5, 131, 209, 0) 0%, rgba(5, 131, 209, 1) 100%);
	background-image: url(../img/ny/bgr.png), url(../img/ny/tree.png), -webkit-gradient(linear, left top, left bottom, from(rgba(5, 131, 209, 0)), to(rgba(5, 131, 209, 1)));
	background-image: url(../img/ny/bgr.png), url(../img/ny/tree.png), -o-linear-gradient(top, rgba(5, 131, 209, 0) 0%, rgba(5, 131, 209, 1) 100%);
	background-image: url(../img/ny/bgr.png), url(../img/ny/tree.png), linear-gradient(to bottom, rgba(5, 131, 209, 0) 0%, rgba(5, 131, 209, 1) 100%);
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-size: auto 218px, auto 383px, 100% 1057px;
	background-position: 100px 717px, -140px 631px, 0 100%;
}

	.mainvideo {
		height: auto;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 48px;
		padding-bottom: 0;
		background: #202326;
	}

	.mainvideo-test {
		position: relative;
		bottom: 0;
		top: 0;
	}

	.mainvideo-test .container {
		padding-left: 0;
		padding-right: 0;
	}

	.mainvideo__info {
		font-size: 16px;
		margin-bottom: 0px;
		line-height: 32px;
	}

	.mainvideo__products {
		font-size: 16px;
	}

	.mainvideo__products a {
		margin-bottom: 16px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
    	-webkit-box-align: center;
    	    -ms-flex-align: center;
    	        align-items: center;
    	-webkit-box-pack: start;
    	    -ms-flex-pack: start;
    	        justify-content: flex-start;
	}

	.mainvideo__products img {
		padding-left: 0;
		margin-right: 4px;
	}

	.mainvideo__title {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 32px;
	}

	#bgvid {
		display: none;
	}

	.mainpoap {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	.mainpoap__scheme {
		display: none;
	}

	.mainpoap__scheme_mobile {
		display: block;
		text-align: center;
		margin: 16px 0;
	}

	.mainpoap__scheme_mobile img {
		width: 80%;
	}

	.mainpoap h2 {
		font-size: 24px;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 32px;
	}

	.mainpoap__text {
		font-size: 15px;
		line-height: 1.6;
	}

	.coreteam {
		padding-top: 20px;
		border-bottom: 0;
	}

	.coreteam h2 {
		font-size: 24px;
		display: none;
	}

	.inmedia {
		padding: 25px 0;
	}

	.mainsectionjs {
		position: relative;
		background: #fff;
		padding: 32px 0;
		border-top: 1px solid rgba(0, 167, 255, 0.2);
	}

	.mainsectionjs h2 {
		margin: 0;
		padding: 0;
		font-size: 24px;
		padding-left: 20px !important;
		text-align: left;
		font-weight: 600;
		max-width: 300px;
		line-height: 32px;
		letter-spacing: 0;
	}

	.subscribenews {
		padding: 40px 0;
		margin-bottom: -35px;
	}

	.subscribenews h2 {
		font-size: 24px;
		text-align: left;
		padding-left: 20px;
		text-align: center;
		padding-left: 0;
		margin: 0 auto;
		display: block !important;
		padding-left: 0 !important;
	}

	.mainsectionjs .container {
		margin: 0;
	}

	.coreteam-block {
		display: block;
	}

	.partnersnew__list div {
		width: 100%;
		margin: 0;
		text-align: center;
	}

	.partnersnew__list img {
		margin: 0 auto;
		max-width: 120px;
	}

	.coreteam-block__item {
		display: inline-block;
		margin-bottom: 0;
	}

	.mainsectionjs__show {
		position: absolute;
		background: url('../img/expand.svg') no-repeat;
		background-size: contain;
		content: '';
		top: 57px;
		right: 30px;
		width: 16px;
		height: 16px;
		-webkit-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
	}

	.mainsectionjs__show_small {
		top: 41px;
	}

	.mainsectionjs__show_active {
		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
	}

	.fixed-menu {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 15px 0;
		background: #fff;
		color: #202326;
		-webkit-box-shadow: 0 2px 20px 0 rgba(25, 65, 89, 0.3);
		        box-shadow: 0 2px 20px 0 rgba(25, 65, 89, 0.3);
	}
	.fixed-menu .menu {
		padding-bottom: 0;
	}

	.fixed-menu .header.white-header .menu a, .header.white-header .menu .link, .header.white-header .menu a:hover, .fixed-menu .scroll .header.white-header .menu .link, .header.white-header .menu .active, .header.white-header .menu .toggle:hover, .header.white-header .menu > li.hover .toggle, .header.white-header .menu > li.open .toggle {
		color: #202326 !important;
	}

	.header.white-header .fixed-menu .toggle-menu > * {
		background: #202326;
	}

	.header .fixed-menu {
		display: block;
	}

	.header .fixed-menu .toggle-menu {
		top: 10px;
	}

	.credentials .slick-arrow {
		top: -15px;
	}

	.partnersnew .slick-arrow {
		top: -20px;
	}

	.maintech {
		margin-top: 0;
	}

	.maintech-block {
		margin-bottom: 0;
	}

	.maintech__title_desc {
		display: none;
	}

	.maintech-info__title {
		display: none;
	}

	.mainsectionjs-active {
		display: block;
	}

	.mainsectionjs-block {
		display: none;
	}

	.mainsectionjs-block-active {
		display: block;
		margin-top: 32px;
	}

	.maintech-links {
		padding-top: 32px;
	}

	.maintech-links__item {
		width: 100%;
		margin-bottom: 32px;
	}

	.maintech-stick {
		margin-bottom: 0;
	}

	.maintech-links__title {
		font-size: 16px;
		line-height: 24px;
	}

	.maintech-info__text {
		font-size: 15px;
		line-height: 1.6;
	}

	.maintech-info__solution {
		margin-top: 32px;
	}

	.maintech-info__solution:before {
		display: none;
	}
	
	.maintech-info__solution p {
		line-height: 32px;
	}

	.maintech-info__more {
		margin-bottom: 16px;
		width: 100%;
		text-align: center;
	}

	.maintech-info-btns {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		margin-top: 32px;
	}

	.ioa {
		height: auto;
	}

	.ioa-info {
		width: 100%;
	}

	.inmedia h2{
		padding-left: 10px;
		display: none;
	}

	.inmedia .mainsectionjs-block-active {
		margin-top: 16px;
	}

	.inmedia-block {
		padding-left: 20px;
		padding-right: 20px;
	}

	.inmedia-item {
		width: 100%;
		text-align: left;
		padding: 32px 0;
		height: auto;
		color: #0da9ff;
		position: relative;
		align-items: flex-start;
	}

	.inmedia-item:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: 1px;
		background: rgba(13, 169, 255, 0.2);
	}

	.inmedia-item__pic {
		margin-bottom: 16px;
	}

	.inmedia-item:last-of-type:after {
		display: none;
	}

	.inmedia__more {
		display: none;
		width: 80%;
	}

	.inmedia__more_active {
		display: block;
	}

	.videomain {
		padding-top: 0;
		padding-bottom: 0;
	}

	.videomain .container {
		display: block;
	}

	.videomain-block-info__text {
		display: none;
	}

	.videomain-block-info__title {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 0;
	}

	.videomain-block {
		margin-bottom: 0;
	}

	.quickNews h2 {
		font-size: 24px;
		display: none;
	}

	.quickNews-block__item {
		margin-right: 0;
		width: 100%;
	}

	.quickNews-block-info__text {
		padding-top: 16px;
		padding-bottom: 32px;
		font-size: 16px;
		line-height: 24px;
	}

	.quickNews .contact {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.copyright-block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
				flex-flow: column;
		font-size: 16px;
		line-height: 24px;
	}

	.copyright-block__date {
		color: #fff;
	}

	.copyright-block__info {
		margin-top: 32px;
	}

	.partnersnew {
		margin-bottom: 48px;
	}

	.ioa-video {
		position: relative;
	}

	.ioa .container {
		padding-bottom: 0;
		background: #fff;
		margin-left: -110px;
		padding-top: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	.mainsectionjs-active .ioa-container {
		margin-left: 0;
	}

	.ioa-info {
		padding-left: 0;
	}

	.ioa-tablet {
		width: 100%;
	}

	.ioa-video__container {
		height: 240px;
		margin-bottom: 32px;
		margin-top: 32px;
	}

	.ioa-info__text {
		font-size: 15px;
		line-height: 1.6;
		margin-bottom: 16px;
	}

	.ioa-info-cases__title {
		margin-bottom: 0;
	}

	.ioa-info-cases {
		margin-top: 64px;
		width: 100%;
	}

	.ioa-info-cases li {
		margin-top: 0;
		line-height: 32px;
		font-size: 14px;
		margin-bottom: 0;
	}

	.footer-bg {
		padding-bottom: 48px;
		padding-top: 32px;
	}

	.subscribenews-block {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		margin-top: 20px;
	}

	.subscribenews-block__item .in {
		margin-left: 0;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.subscribenews-block__item .input {
		width: 80%;
	}

	.subscribenews-block__item .mainbtn {
		margin: 0 auto;
		margin-top: 20px;
	}

	.subscribenews-block__item .info {
		margin-left: 10px;
	}

	.ioa-info h2 {
		display: none;
	}

	.votebkx {
		background-image: linear-gradient(to bottom, #202326, #000000);
		margin-top: -1px;
	}

	.votebkx .container {
		flex-flow: column;
	}

	.votebkx__coin {
		margin: 0 auto;
	}

	.votebkx-info {
		font-size: 24px;
		line-height: 32px;
		margin-top: 32px;
	}

	.votebkx-info__btn {
		width: 100%;
		text-align: center;
		margin-top: 32px;
	}

	.js-mobiletitle {
		display: block !important;
	}

	.quickNews-contact-tablet {
		display: none;
		background-color: rgba(10, 60, 87, 0.03);
	}

	.quickNews-contact-tablet .contact {
		padding: 32px 0;
	}

	.quickNews-contact-tablet .contact .container {
		justify-content: center;
	}

	.quickNews-contact-tablet .contact .big {
		text-align: center;
		font-size: 24px;
	}

	.quickNews-contact-tablet .contact .soc .in {
		justify-content: space-around;
		margin: 0;
		min-height: auto;
	}

	.quickNews-contact-tablet .contact .soc {
		margin-bottom: 32px;
	}

	.quickNews-contact-tablet .contact .soc:last-child {
		margin: 0 auto;
	}

	.quickNews-contact-tablet .contact .soc .link {
		margin: 0 5px;
		margin-bottom: 16px;
	}

	.quickNews-contact-tablet_active {
		display: block;
	}

	.inmedia .contact {
		padding: 32px 0;
	}

	.inmedia .contact .container {
		justify-content: center;
	}

	.inmedia .contact .big {
		text-align: center;
		font-size: 24px;
	}

	.inmedia .contact .soc .in {
		justify-content: space-around;
		margin: 0;
		min-height: auto;
	}

	.inmedia .contact .soc {
		margin-bottom: 32px;
	}

	.inmedia .contact .soc:last-child {
		margin: 0 auto;
	}

	.inmedia .contact .soc .link {
		margin: 0 5px;
		margin-bottom: 16px;
	}

	.tablet-menu-container {
		display: none;
	}

	.tablet-menu {
		padding-top: 0;
		position: fixed;
		height: 100vh;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.mobile-menu {
		padding-top: 32px;
		background: #fff;
		display: block;
	}

	.mobile-menu-info {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 0 20px;
		padding-bottom: 32px;
	}

	.mobile-menu__logo {
		text-align: center;
		margin-bottom: 16px;
	}

	.mobile-menu-info__item {
		display: flex;
		flex-flow: column;
	}

	.mobile-menu-info__item a {
		font-size: 16px;
		line-height: 32px;
	}

	.mobile-menu-info__item_right {
		align-items: flex-end;
	}

	.mobile-menu-info_active {
		color: #202326;
		position: relative;
	}

	.mobile-menu-info_active:before {
		content: '';
		position: absolute;
		top: 14px;
		left: -20px;
		background: #202326;
		height: 1px;
		width: 15px;
	}

	.mobile-menu-info__item_right .mobile-menu-info_active:before {
		left: auto;
		right: -20px;
	}

	.mobile-menu__social {
		border-bottom: 1px solid rgba(13, 169, 255, 0.2);
		margin-bottom: 16px;
	}

	.mobile-menu__social ul {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
	}

	.mobile-menu__social ul li {
		width: 15%;
		margin-bottom: 16px;
	}

	.mobile-menu-social {
		background: #0DA9FF;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		color: #fff;
		display: flex;
		align-items: center;
		padding: 16px 20px;
		justify-content: space-between;
	}

	.mobile-menu-social__log a {
		color: #fff;
	}

	.mobile-menu__toggle ul {
		list-style-type: none;
		display: none;
		flex-flow: column;
		align-items: flex-end;
		color: #202326;
		font-size: 14px;
	}

	.mobile-menu__toggle_active {
		color: #202326;
	}

	.mobile-menu__toggle_active ul {
		display: flex;
	}
}

@media only screen and (max-width: 640px) {

.presale .form {
	padding: 0 10px 60px 10px;
	margin: 0 -10px;
	background: #fff;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.modal {
	z-index: 101;
}

.thankyou-window {
	padding: 0;
}

.thankyou-window > * {
	position: static;
	padding: 24px;
	top: auto;
	bottom: auto;
	width: auto;
}

.thankyou-window .l img {
	height: 40px;
}

.road-nav .container {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.road-nav .links {
	display: none;
}

.road-nav .btn {
	margin: 0;
}
}