@charset "utf-8";

@media only screen and (max-width: 1030px) {

.cover-notif {
	margin: 160px 16px;
}

.container {
	max-width: 768px;
	padding-left: 48px;
	padding-right: 48px;
}

h1,
.h1,
.manual h1 {
	letter-spacing: -0.78px;
	line-height: 1.142;
	font-size: 70px;
	margin-bottom: 27px;
}

.header {
	position: absolute;
	-webkit-box-shadow: none!important;
	        box-shadow: none!important;
	background: none!important;
}

.header .container {
	-webkit-box-orient: vertical;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
			justify-content: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
			align-items: center;
	justify-content: space-between;
	
}

.header .container,
.header-place {
	height: 144px!important;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.header .logo {
	text-align: center;
}

.menu {
	padding: 0;
}

.menu li {
	padding: 0;
	margin-top: 0;
}

.menu > li {
	margin-top: 0;
}

input:checked + .header {
	-webkit-box-shadow: 0 10px 30px rgba(15, 62, 91, 0.1);
	        box-shadow: 0 10px 30px rgba(15, 62, 91, 0.1);
}

input:checked + .header .container,
input:checked + .header + .header-place,
input:checked ~ .header-place {
	height: 224px!important;
}

.menu > li:before,
.menu > li > .link:before {
	display: none;
}

.header.white-header .logo img:nth-child(2) {
	top: 0;
}

.scroll .header.white-header .logo img {
	opacity: 0;
}

.scroll .header.white-header .logo img:nth-child(2) {
	opacity: 1;
}

.scroll .header.white-header .menu a,
.scroll .header.white-header .menu .link {
	color: #fff;
}

.scroll .header.white-header .menu a:hover,
.scroll .header.white-header .menu .active,
.scroll .header.white-header .menu .toggle:hover,
.scroll .header.white-header .menu > li.hover .toggle,
.scroll .header.white-header .menu > li.open .toggle {
	color: #fff;
}

.scroll .header.white-header .top-soc .link .ic {
	opacity: 0;
}

.scroll .header.white-header .top-soc .link .ic.white {
	opacity: 1;
}

.scroll .header.white-header .top-soc .link .txt {
	color: #fff;
}

.header.white-header .top-soc .hide {
	background: none!important;
}

.header.white-header .top-soc .hide:before {
	background: none!important;
}

.scroll .header.white-header .top-soc .more > * {
	background: #fff;
}

.scroll .header.white-header .top-soc .more:hover > * {
	background: #fff;
}

.scroll .header.white-header .lang .toggle .ic {
	opacity: 0;
}

.scroll .header.white-header .lang .toggle .ic.white {
	opacity: 1;
}

.scroll .header.white-header .user-menu {
	border-left-color: rgba(255, 255, 255, 0.2);
}

.scroll .header.white-header .user-menu,
.scroll .header.white-header .user-menu a {
	color: #fff;
}

.scroll .header.white-header .user-menu .ic {
	opacity: 0;
}

.scroll .header.white-header .user-menu .ic.white {
	opacity: 1;
}

.head-r {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
	-webkit-transform: scale(1, 0);
	        -ms-transform: scale(1, 0);
	    transform: scale(1, 0);
	-webkit-transform-origin: 50% 100%;
	        -ms-transform-origin: 50% 100%;
	    transform-origin: 50% 100%;
	padding: 0 10px;
	background: rgba(10, 60, 87, 0.03);
	background: #f7f9fa;
}

.header.white-header .head-r {
	background: #0da6fa;
}

input:checked + .header .head-r {
	-webkit-transform: scale(1);
	        -ms-transform: scale(1);
	    transform: scale(1);
}

.top-soc {
	height: auto;
	margin: 0 -8px;
}

.top-soc .hide {
	height: auto;
	position: relative;
	top: auto;
	bottom: auto;
	right: auto;
	margin: 0;
	-webkit-transform: scale(1);
	        -ms-transform: scale(1);
	    transform: scale(1);
	background: none;
}

.top-soc .hide:before {
	display: none;
}

.top-soc .show {
	display: none;
}

.top-soc .more,
.top-soc .link {
	margin: 0 8px;
}

.top-soc .more {
	display: none;
}

.top-soc .link.ind {
	margin-left: 32px;
}

.user-menu {
	height: 40px;
	margin-left: 16px;
}

.lang {
	margin-left: auto;
	margin-right: -5px;
}

.header .toggle-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	order: 1;
	position: relative;
	top: auto;
}

.header .fixed-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-info {
	padding: 25px 0;
}

.top-info .links {
	letter-spacing: 0.94px;
	font-size: 20px;
	margin-bottom: 38px;
}

.top-info .links > * {
	margin: 0 5px;
}

.timer {
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 20px 30px rgba(19, 119, 174, 0.15);
	        box-shadow: 0 20px 30px rgba(19, 119, 174, 0.15);
}

.timer .t,
.subscr {
	padding-left: 25px;
	padding-right: 25px;
}

.timer .remind {
	margin-right: 0;
}

.timer .remind .txt {
	display: none;
}

.timer .remind .ic {
	margin-left: 16px;
}

.subscr .btn.l {
	margin-right: 20px;
}

.subscr .input {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

.what {
	padding: 91px 0 15px 0;
}

.what,
.what2,
.why {
	font-size: 16px;
	line-height: 2;
}

.what h2 {
	height: 47px;
	margin-bottom: 14px;
}

.what .ind,
.what2 .ind,
.why .ind {
	width: 354px;
}

.help-title + .what .bg-card {
	top: 50%!important;
}

.what .bg-card > div {
	padding: 0 10px;
	height: 24px;
	line-height: 24px;
	border-radius: 2px;
	font-size: 12px;
}

.what .bg-card.pos1 {
	margin: -135px -209px;
}

.what .bg-card.pos2 {
	margin: -212px -255px;
}

.what .bg-card.pos3 {
	margin: -68px 100px;
}

.what .bg-card.pos4 {
	margin: -180px -155px;
}

.what .bg-card.pos5 {
	margin: -194px -23px;
}

.what .bg-card.pos6 {
	margin: -50px 154px;
}

.what .bg-card.pos7 {
	margin: -216px 240px;
}

.what .bg-card.pos8 {
	margin: -30px -342px;
}

.what .bg-card.pos9 {
	margin: -176px 203px;
}

.what .bg-card.pos10 {
	margin: -153px -345px;
}

.news .bg {
	padding: 26px 26px 21px 192px;
}

.news .ava {
	left: 86px;
}

.news li .date {
	width: 90px;
}

.cases {
	padding-top: 142px;
}

.cases .links {
	margin-bottom: 22px;
}

.case .img {
	position: relative;
	margin: 0 15px 30px 15px;
	height: 336px;
	width: auto;
}

.case .ind {
	min-height: 257px;
	height: auto;
	padding: 0;
}

.case .text,
.case .next {
	padding-top: 9px;
}

.case .text {
	padding-left: 0;
	padding-right: 14px;
}

.case .next {
	padding-bottom: 13px;
}

.case .next .txt {
	margin: auto 0;
}

.case .next .pic {
	margin: 0 auto;
}

.presale h1 {
	margin-bottom: 27px;
}

.presale h1 img {
	max-height: 47px;
}

.presale .text {
	text-align: center;
}

.faq .part .container {
	display: block;
}

.faq h2,
.faq h3 {
	text-align: center;
}

.faq h3:first-child {
	margin-top: 15px;
}

.faq h2 {
	position: static !important;
}

.faq .part .l,
.faq .part .r {
	text-align: left;
	margin: 0 auto;
	max-width: 580px;
}

.roadmap:before {
	height: 750px;
}

.roadmap .point.v {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.roadmap .point.v .image,
.roadmap .point.v.l .image {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
	width: auto;
	min-height: 0;
	border-radius: 4px 4px 0 0;
}

.roadmap .point.v .image img {
	position: relative;
	top: auto;
	right: auto;
	left: auto;
	width: 100%;
	height: auto;
}

.roadmap .point.v .image.gall .slick-list,
.roadmap .point.v .image.gall .slick-track {
	position: relative;
}

.roadmap .point.v .image.video:before {
	content: '';
	display: block;
	padding-bottom: 46.86%;
}

.roadmap .point.v .text,
.roadmap .point.vid .text,
.roadmap .point.c .text {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
	width: auto;
	display: block;
	padding-top: 27px;
	padding-bottom: 43px;
}

.roadmap .point.c .img + .text {
	padding-top: 0;
}

.roadmap .point.v .text .txt,
.roadmap .point.c .text {
	margin: 0 auto;
	max-width: 512px;
}

.roadmap .point.v .text .img {
	text-align: center;
	margin: 30px 0 0 0!important;
}

.roadmap .point.v .text .img img {
}

.roadmap .point.vid .img-text {
	padding: 10px 0;
}

.roadmap .last .point .text {
	padding-top: 52px;
	padding-bottom: 82px;
}

.road-nav .links {
	font-size: 16px;
}

.join-us {
	padding-bottom: 48px;
}

.top50 {
	padding-top: 43px;
}

.top50 img {
	margin-bottom: 28px;
}

.top50 .link {
	margin-top: 14px;
}

.contact {
	padding-top: 24px;
	padding-bottom: 40px;
	text-align: center;
}

.contact .container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.contact .subscr2 {
	margin-right: 0;
	width: 100%;
	max-width: 556px;
	margin-bottom: 24px;
}

.contact .soc {
	margin: 0 0 24px 0;
}

.contact .soc .in {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-left: -8px;
	margin-right: -8px;
}

.contact .soc .link {
	margin-left: 8px;
	margin-right: 8px;
}

.bmenu {
	padding-top: 43px;
}

.mainvideo-test {
	top: 160px;
}

.mainvideo__info {
	margin-top: 0;
}

.mainvideo-test .container {
	padding-left: 5%;
	padding-right: 5%;
}

.votebkx {
	padding: 48px 0;
}

.credentials ul {
	margin-left: -40px;
	margin-right: -40px;
	margin-bottom: 15px;
}

.credentials li {
	width: 33.33%;
}

.credentials ul img {
	display: block;
	height: 65px;
	width: auto;
}

.credentials .slick-arrow {
	top: 32.5px;
}

.partners ul {
	padding-left: 110px;
	padding-right: 110px;
	margin-top: 16px;
	margin-bottom: 22px;
}

.partners li {
	width: 50%;
}

.partners ul img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 92px;
}

.copyright {
	padding-bottom: 41px;
}

.copyright .container:before {
	margin-bottom: 41px;
}

.case-page .head {
	margin-bottom: 20px;
}

.case-page .head .t {
	margin: 15px 0;
}

.case-page .head h1 {
	font-size: 48px;
	line-height: 64px;
	letter-spacing: -1.5px;
	max-width: 748px;
}

.case-page .max,
.case-page .info .max,
.text-scroll h2,
.text-scroll .max-in {
	max-width: 556px;
}

.case-page .info li {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.case-page .info .l {
	width: auto;
	text-align: left;
	margin: 0 10px 0 0;
}

.text-scroll {
	margin-top: 80px;
	padding-top: 40px;
	padding-bottom: 30px;
}

.text-scroll .nano {
	height: 464px;
}

.text-scroll .max {
	max-width: 780px;
}

.text-scroll .max-in {
	margin: 0 auto;
}

.text-scroll h2 {
	margin-left: auto;
	margin-right: auto;
}

.text-scroll .nano-content {
	padding-right: 20px;
}

.text-scroll .nano > .nano-pane {
	background: #fff;
}

.demo-page h1 {
	font-size: 48px;
	line-height: 64px;
	letter-spacing: -1.5px;
	margin-top: -2px;
	margin-bottom: -28px;
}

.demo-page .hold-links {
	padding-top: 32px;
	margin-bottom: 28px;
}

.demo-page .hold-links .links {
	margin-bottom: 25px;
}

.demo-page h2 {
	max-width: 748px;
	margin-bottom: 15px;
}

.demo-page .h2-small {
	text-align: left;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: -0.5px;
	margin: 52px 0 21px 0;
}

.demo-page .max {
	max-width: 556px;
}

.demo-page .media.video {
	margin-bottom: -183px;
}

.demo-page .bg-under-video {
	padding-top: 225px;
	padding-bottom: 24px;
}

.demo-page .info .bg {
	max-width: 556px;
	padding-left: 97px;
}

.demo-page .info .bg:before {
	left: 0;
}

.demo-page .line {
	height: 1px;
	background: #0DA9FF;
	opacity: 0.2;
	margin: 39px 0;
}

.demo-page .with-info {
	padding-right: 100px;
}

.demo-page .info-small {
	left: calc(50% + 180px);
	margin-right: 10px;
	padding: 4px 0 4px 20px;
	border-left: 1px solid rgba(13, 169, 255, 0.2);
	font: italic 12px/18px "Noto Serif", Times New Roman, serif;
}

.opinions {
	padding-top: 18px;
}

.opinions .max {
	max-width: 556px;
}

.opinions .hold {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: -37px;
}

.opinions .el {
	width: 100%;
	padding: 37px;
}

.opinions .el img {
	width: 172px;
	height: 172px;
}

.use-cases {
	padding-bottom: 32px;
}

.use-cases h1 {
	font-size: 48px;
	line-height: 64px;
	letter-spacing: -1.5px;
	margin: -2px 0 27px 0;
}

.use-cases .top-text {
	font-size: 20px;
	letter-spacing: -0.31px;
	margin-bottom: 50px;
	max-width: 652px;
}

.cases-menu .block-tab {
	display: block;
	text-align: left;
	text-indent: -100000px;
	height: 0;
	overflow: hidden;
	margin: 0;
}

.cases-grid {
}

.cases-grid .el {
	width: 50%;
}

.dashboard-page {
	padding-bottom: 10px;
	padding-top: 29px;
}

.dashboard-page .head {
	padding-bottom: 8px;
	font-size: 16px;
}

.dashboard-page h1,
.dashboard-page h2 {
	text-align: center;
}

.dashboard-page .head .container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.dashboard-page .head .text {
	margin-top: 20px;
}

.dashboard-page .notifications {
	padding-bottom: 0;
	padding-top: 15px;
}

.dashboard-page .wallets {
	padding-bottom: 14px;
}

.dashboard-page .history {
	padding-top: 14px;
	padding-bottom: 8px;
}

.notification {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 4px;
	background: rgba(10, 60, 87, 0.03);
	margin: 0 0 16px 0;
}

.notification .links {
	margin: 0 -15px;
}

.notification .links.show-tab {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.notification .links.hide-tab {
	display: none;
}

.notification .links .ic {
	margin: 0 15px;
}

.notification .close {
	width: 70px;
	margin-left: 5px;
}

.wallet {
	height: auto;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	border: 1px solid #0DA9FF;
	border-radius: 4px;
	margin: 0 0 15px 0;
	padding: 10px 10px 20px 10px;
}

.wallet.na {
	border-color: rgba(13, 69, 255, 0.2);
}

.wallet .name {
	width: 167px;
	margin-left: 5px;
}

.wallet .num {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	letter-spacing: 1px;
	padding-right: 50px;
	margin-right: 0;
}

.wallet .num textarea {
	width: 100%;
}

.wallet .hold-btn {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 10px 0 0 0;
}

.wallet .hold-btn2 {
	margin: 5px 8px 5px auto;
}

.table th {
	padding-bottom: 13px;
}

.table .show-mob {
	display: inline;
}

.table .hide-mob {
	display: none;
}

.hide-mob {
	display: none;
}

.modal-wallet-num {
	padding: 30px 20px;
}

.modal-wallet-num .for-btn {
	margin-top: 20px;
}

.modal-wallet-num h2 {
	margin-top: 10px;
}

.top-new {
	padding-top: 30px;
	padding-bottom: 41px;
}

.top-new h1 {
	margin-bottom: 35px;
}

.top-new .timer2 {
	margin-bottom: 36px;
}

.top-new .for-btn {
	margin-bottom: 34px;
}

.top-new .for-btn .btn {
	min-width: 380px;
}

.top-new .media2 {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.vision {
	padding-top: 47px;
	padding-bottom: 50px;
}

.vision .max {
	max-width: 556px;
}

.vision .links {
	margin-top: 37px;
}

.quick-news {
	padding-top: 47px;
	padding-bottom: 23px;
}

.quick-news .container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.quick-news .l,
.quick-news .r {
	width: 100%;
	max-width: 556px;
	margin: 0 auto;
}

.quick-news .contact {
	text-align: left;
	padding-top: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.quick-news .contact .subscr2 {
	margin-bottom: 34px;
	width: 100%;
}

.quick-news .contact .soc {
	min-width: 170px;
}

.quick-news .contact .soc .in {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.poap {
	padding-top: 46px;
	padding-bottom: 46px;
}

.poap h2 {
	max-width: 556px;
	margin: 0 auto 70px auto;
}

.stat {
	padding-top: 46px;
	padding-bottom: 54px;
}

.stat .max {
	margin: 0 auto;
	max-width: 556px;
}

.stat h2 {
	margin-bottom: 35px;
}

.stat-list li {
	width: 33.333%;
}

.stat .line {
	margin: 41px -10px 40px -10px;
}

.benefits-mini {
	margin-bottom: 30px;
}

.check-at li {
	width: 50%;
}

.roadmap-index {
	padding: 46px 0 9px 0;
}

.roadmap-index .roadmap .el {
	padding: 0 10px;
}

.roadmap-index .dates li {
	width: 33.33vw;
}

.cases-index {
	padding: 46px 0 9px 0;
}

.cases-slider-index {
	margin: 0 -10px;
}

.cases-slider-index .slick-list {
	padding: 0 10px;
}

.tabs {
	margin-right: 10px;
}

.tabs .tab {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
}

.whitelist,
.events {
	padding-top: 43px;
}

.whitelist .max {
	max-width: 570px;
	margin: 0 auto;
}

.whitelist h3 {
	margin-top: 31px;
}

.whitelist .sides {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.whitelist .sides .l,
.whitelist .sides .r {
	width: auto;
	max-width: none;
}

.whitelist .sides .r {
	margin-top: 18px;
}

.whitelist .benefits-white li {
	width: 50%;
}

.whitelist .benefits-white .big {
	font-weight: bold;
	color: #00A7FF;
}

.whitelist .benefits-white img {
	display: block;
	height: 49px;
	width: auto;
	margin: 0 0 10px 0;
}

.wallet-login {
	padding-top: 30px;
}

.wallet-login h1 {
	font-size: 32px;
	line-height: 48px;
	letter-spacing: -0.5px;
}

.wallet-login .check {
	padding-left: 80px;
}

.wallet-login .curr-checks > * {
	width: 33.333%;
}

.dashboard-new {
	padding-top: 0;
}

.dashboard-new .top {
	margin: -4px 0 10px 0;
}

.dashboard-new .top > .container {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.dashboard-new .top h1 {
	font-size: 32px;
	line-height: 48px;
	top: auto;
	letter-spacing: -0.5px;
	width: 100%;
	text-align: center;
	margin: 0 0 18px 0;
}

.hold-history {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.hold-history .toggle {
	font-size: 16px;
	line-height: 32px;
	letter-spacing: -0.25px;
	margin: 0 0 -10px 0;
	padding: 12px 16px 22px 54px;
}

.hold-history .toggle:before,
.hold-history .toggle:after {
	margin: 16px 16px;
}

.hold-history .in {
	margin-left: 0;
	margin-right: 0;
}

.hold-history .in .close {
	top: auto;
	bottom: 100%;
	width: 36px;
	height: 36px;
	margin-bottom: 16px;
}

.hold-history .table table {
	width: auto;
}

.hold-history .table th,
 .hold-history .table td {
	padding-left: 10px;
	padding-right: 10px;
}

.hold-history .table th:first-child,
.hold-history .table td:first-child {
	padding-left: 10px;
}

.hold-history .table th:last-child,
.hold-history .table td:last-child {
	padding-right: 10px;
}

.hold-history .table th {
	height: auto;
	padding-top: 23px;
	padding-bottom: 11px;
}

.hold-history .table td {
	padding-top: 16px;
}

.my-btc-amount {
	font-size: 16px;
	line-height: 32px;
	padding: 12px 16px;
	width: 50%;
	letter-spacing: -0.25px;
	min-width: 0;
}

.my-btc-amount .ic {
	margin-right: 6px;
}

.my-actions {
	padding-bottom: 272px;
}

.my-actions .hold {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.my-actions .el {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width: 50%;
}

.my-actions .container {
	max-width: 580px;
}

.my-actions .line {
	margin-left: -1px;
}

.my-actions .line:nth-child(4) {
	display: none;
}

.my-actions .el:nth-child(5) {
	width: 100%;
	margin-top: 45px;
}

.my-wallets {
	margin-top: -207px;
}

.wallet-card {
	margin: 0 0 50px 0;
	padding: 50px 46px;
}

.wallet-card .pic {
	top: 0;
	left: 50%;
	margin-top: -30px;
}

.wallet-card .big {
	font-size: 16px;
	line-height: 24px;
	padding: 4px 0;
	letter-spacing: -0.25px;
	margin: 0 0 15px 0;
}

.wallet-card .big > div {
	margin-top: 8px;
}

.wallet-card .text {
	padding: 0;
}

.wallet-card .qr {
	padding: 0 26px;
}

.token-progress {
	padding: 0 0 53px 0;
	margin: -11px 0 0 0;
}

.my-info {
	padding-bottom: 24px;
}

.my-info h3 {
	margin-top: 16px;
}

.my-info h3:first-child {
	margin-top: 0;
}

.my-info .max {
	margin-top: 23px;
}

.notification-new {
	padding-right: 24px;
	padding-left: 96px;
}

.notification-new .ic {
	margin-left: 24px;
}

.token-sale {
	margin-top: -144px;
	padding-top: 179px;
	height: 928px;
}

.token-sale .bg {
	margin-top: 91px;
}

.token-sale .bg img {
	height: 723px;
}

.token-sale h1 {
	font-size: 48px;
	letter-spacing: -0.5px;
	height: 163px;
}

.token-sale .hold {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.token-sale .hold > * {
	width: 50%;
}

.token-sale .hold .l {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
	font-size: 16px;
	line-height: 32px;
	padding-left: 18vw;
}

.token-sale .hold .c {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
	width: 100%;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 1.25px;
	height: 308px;
	padding: 0;
}

.token-sale .hold .r {
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 2px;
	padding-right: 18vw;
}

.token-sale h2 {
	font-size: 16px;
	line-height: 32px;
	letter-spacing: -0.4px;
}

.token-sale .bonus {
	font-size: 40px;
	line-height: 64px;
	letter-spacing: -1.25px;
	margin: 0 0 -7px 0;
}

.token-sale .price {
	font-size: 20px;
	letter-spacing: 1.25px;
	margin-bottom: 14px;
}

.token-sale .line {
	max-width: 280px;
	margin-top: 3px;
	margin-bottom: 5px;
}

.token-sale .sold {
	margin-bottom: 16px;
}

.token-sale .c .text {
	margin: 0 0 5px 0;
}

.token-sale .c .btn {
	width: 212px;
}

.token-sale .l ul {
	margin-top: 16px;
}

.token-sale .r h2 {
	margin: 28px 0 -4px 0;
}

.scanner .max {
	padding-left: 0;
	padding-right: 0;
}

.scanner .evid .t .info {
	min-width: 0;
}

.token-end {
	margin-top: -224px;
	padding-top: 240px;
}

.token-end h1 {
	font-size: 40px;
	letter-spacing: -1.25px;
	margin-bottom: 24px;
}

.token-end .text {
	margin-left: auto;
	margin-right: auto;
	max-width: 580px;
}

.token-end .info {
	margin-right: 0;
	margin-bottom: 20px;
	font-size: 16px;
	letter-spacing: -0.4px;
}

.token-end .info strong {
	font-size: 32px;
	letter-spacing: 2px;
	margin: 15px 0 0 0;
}

.token-end .info strong .small {
	display: block;
	font-size: 16px;
	margin-top: 5px;
}

.token-end .info strong .show-tab {
	display: inline;
}

.token-end .info strong .hide-tab {
	display: none;
}

.token-end .link {
	margin-bottom: 71px;
}

.token-end .link .btn {
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	letter-spacing: -0.25px;
}

	.mainvideo {
		height: 528px;
	}

	.mainpoap {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	.mainvideo__title {
		font-size: 32px;
		line-height: 48px;
		margin-bottom: 64px;
	}

	.mainpoap h2 {
		padding: 0;
		font-size: 40px;
		margin-bottom: 32px;
	}

	.mainpoap__text {
		padding: 0;
	}

	.ioa {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
		        flex-flow: column;
		height: auto;
		padding-top: 0;
		padding-bottom: 32px;
	}
	
	.ioa-video {
		width: 100%;
		position: relative;
	}

	.ioa .container {
		padding-bottom: 0;
		padding-left: 48px;
		padding-right: 48px;
		padding-top: 64px;
	}

	.ioa-info__title {
		font-size: 40px;
		margin-bottom: 32px;
	}

	.ioa-info__text {
		margin-bottom: 32px;
	}

	.subscribenews-block__item .input {
		width: 200px;
	}

	.ioa-tablet {
		width: 55%;
	}

	.ioa-info-cases {
		margin-top: 0;
		width: 35%;
	}

	.ioa-info-cases li {
		line-height: 24px;
		margin-bottom: 20px;
	}

	.ioa-info-cases:before {
		display: none;
	}

	.ioa-video__container {
		width: 100%;
		height: 522px;
	}

	.ioa-video__background {
		width: 100%;
		height: 100%;
	}

	.ioa-video__play {
		width: 68px;
		height: 48px;
		margin-top: -24px;
	}

	.ioa-info {
		width: 100%;
		padding-left: 0;
	}

	.maintech {
		margin-top: 64px;
	}

	.maintech-info__solution {
		margin-top: 48px;
		margin-bottom: 0;
	}

	.maintech-info-btns {
		margin-top: 48px;
	}

	.maintech-info__solution:before {
		display: none;
	}

	.maintech-block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
				flex-flow: column;
		margin-bottom: 16px;
	}

	.quickNews-block {
		justify-content: space-between;
	}

	.quickNews-block-main {
		width: 100%;
		height: 144px;
	}

	.maintech-stick {
		width: 100%;
		margin-bottom: 0;
	}
	
	.maintech-info__title {
		font-size: 40px;
		margin-bottom: 48px;
	}

	.videomain {
		padding-bottom: 64px;
	}

	.quickNews .contact {
		padding-bottom: 0;
		padding-top: 48px;
	}

	.maintech-links {
		width: 100%;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding-right: 0;
		padding-left: 0;
		padding-top: 48px;
	}

	.maintech-links__item {
		width: 48%;
	}

	.quickNews {
		padding: 64px 0;
		padding-bottom: 0;
	}

	.quickNews h2 {
		font-size: 40px;
	}

	quickNews-block__item:last-of-type {
		display: block;
	}

	.quickNews-block__item {
		margin: 0;
		width: 328px;
		margin-bottom: 16px;
	}

	.quickNews-block__item:last-of-type {
		display: block;
	}

	.quickNews-block-main img {
		top: 0;
		bottom: auto;
	}

	.credentials .container {
		padding-left: 5%;
		padding-right: 5%;
	}

	.credentials ul {
		margin-left: 0;
		margin-right: 0;
	}

	.credentials li {
		width: 22%;
	}

	.credentials ul img {
		height: 25px;
	}

	.inmedia {
		padding: 30px 0;
		padding-bottom: 0;
	}

	.inmedia-item_disable {
		display: none;
	}

	.inmedia__more {
		display: none;
		width: 224px;
		margin-bottom: 64px;
	}

	.inmedia__more_active {
		display: block;
	}

	.partnersnew .container {
		padding-left: 5%;
		padding-right: 5%;
	}

	.partnersnew__list div {
		width: 22%;
	}

	.partners ul {
		padding-left: 0;
		padding-right: 0;
	}

	.partners li {
		width: 25%;
	}

	.partners .container {
		padding-left: 5%;
		padding-right: 5%;
	}

	.copyright .container {
		padding-left: 5%;
		padding-right: 5%;
	}

	.inmedia__more {
		display: block;
		color: #fff;
		background: #00A7FF;
		border-radius: 100px;
		padding: 15px;
		outline: none;
		border: 0;
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;
		max-width: 80%;
		margin-bottom: 64px;
	}

	.contact .big {
		font-size: 20px;
		text-align: left;
	}

	.contact .container {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: row;
		max-width: 1220px;
		padding: 0 20px;
		margin: 0 auto;
		padding-left: 48px;
		padding-right: 48px;
	}

	.contact .soc {
		min-width: auto;
		margin: 0;
	}

	.contact .soc .link {
		margin: 0 10px 16px 0;
	}

	.contact .soc-1 {
		width: 240px;
	}

	.contact .soc-2 {
		width: 155px;
	}

	.contact .soc-3 {
		width: 260px;
	}

	.main__mail {
		line-height: 32px;
		font-size: 16px;
	}

	.quickNews-contact-tablet {
		display: block;
	}

	.quickNews-contact-tablet .contact {
		padding-bottom: 48px;
		margin: 0 auto;
		max-width: 768px;
	}

	.contact .soc .in {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: flex-start;
		margin: 0;
	}

	.credentials li {
		width: 156px;
		margin: 32px 15px 0 0px;
	}
	
	.partnersnew__list li {
		width: 156px;
		margin: 32px 15px 0 0px;
	}

	.contact-not-tablet {
		display: none;
	}

	.tablet-menu-top__log a {
		color: #202326;
	}

	.tablet-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 1000000;
		padding-top: 32px;
		display: none;
	}

	.mobile-menu {
		display: none;
	}

	.tablet-menu_active {
		display: block;
	}

	.tablet-menu__logo {
		width: 400px;
	}

	.tablet-menu-med {
		background-color: rgba(10, 60, 87, 0.03);
		padding: 32px 48px;
		text-align: center;
		padding-bottom: 0;
	}

	.tablet-menu-med__item {
		padding-bottom: 32px;
	}

	.tablet-menu-med a {
		font-size: 16px;
		color: #202326;
		line-height: 16px;
		margin: 0 10px;
	}

	.tablet-menu-top__close img {
		width: 24px;
		height: 24px;
	}

	.tablet-menu-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding: 0 48px;
		padding-bottom: 32px;
	}

	.tablet-menu-social ul {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.tablet-menu-social {
		padding: 32px 48px;
	}

.wish .big {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.75px;
	max-width: 556px;
	margin-bottom: 82px;
}

.wish .ind {
	margin-left: calc(50% + 10px);
}

.wish .ind .dog {
	width: 310px;
	height: 291px;
	margin: -100px 36px;
}

.token-end.ny {
	background-image: url(../img/ny/bgr.png), url(../img/ny/tree.png), -webkit-linear-gradient(top, rgba(5, 131, 209, 0) 0%, rgba(5, 131, 209, 1) 100%);
	background-image: url(../img/ny/bgr.png), url(../img/ny/tree.png), -webkit-gradient(linear, left top, left bottom, from(rgba(5, 131, 209, 0)), to(rgba(5, 131, 209, 1)));
	background-image: url(../img/ny/bgr.png), url(../img/ny/tree.png), -o-linear-gradient(top, rgba(5, 131, 209, 0) 0%, rgba(5, 131, 209, 1) 100%);
	background-image: url(../img/ny/bgr.png), url(../img/ny/tree.png), linear-gradient(to bottom, rgba(5, 131, 209, 0) 0%, rgba(5, 131, 209, 1) 100%);
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-size: auto 310px, auto 500px, 100% 843px;
	background-position: 230px 693px, -110px 568px, 0 100%;
}
	.coreteam {
		padding-top: 64px;
		padding-bottom: 16px;
	}

	.coreteam-block {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.coreteam-block__name {
		margin-top: 16px;
		font-size: 20px;
	}

	.coreteam h2 {
		font-size: 40px;
		margin-bottom: 48px;
	}

	.inmedia {
		padding-top: 64px;
		padding-bottom: 0;
	}

	.inmedia-block {
		padding-left: 48px;
		padding-right: 48px;
		max-width: 1220px;
		margin: 0 auto;
	}

	.inmedia h2 {
		font-size: 40px;
	}

	.subscribenews-block {
		flex-flow: column;
		align-items: flex-start;
	}

	.subscribenews-block__item {
		margin-bottom: 16px;
	}

	.subscribenews-block__item .subscribenews__flex-end {
		margin-left: 0;
	}

	.subscribenews-block__item .input {
		width: 460px;
	}

	.subscribenews h2 {
		font-size: 20px;
		margin-bottom: 32px;
	}

	.inmedia .contact {
		padding: 64px 0;
		padding-bottom: 48px;
	}

	.subscribenews {
		padding: 64px 0;
	}

	.coreteam-block__item {
		width: 192px;
		margin-right: 0;
		margin-bottom: 48px;
	}

	.coreteam-block__pic {
		width: 100%;
	}

	.coreteam-block__pic img {
		max-width: 100%;
	}

	.inmedia-item {
		width: 50%;
		margin-right: 0;
	}

}

@media only screen and (max-width: 870px) {

.road-nav .links {
	margin-left: -5px;
}

.road-nav .links a {
	margin: 0 5px;
}
}

@media only screen and (max-width: 930px) {

.presale .form {
	padding-right: 60px;
	padding-left: 200px;
}

.presale .form .row {
	margin-left: -140px;
}

.presale .form .row .label {
	width: 140px;
}
}

@media only screen and (max-width: 790px) {

.presale .form {
	padding-left: 60px;
}

.presale .form .row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: 0;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

.presale .form .row .label {
	width: auto;
	height: auto;
	margin: -4px 0 8px 0;
}
}

@media only screen and (max-width: 820px) {

.thankyou-window .l .h3,
.thankyou-window .r .h4 {
	margin-top: 0;
}
}

@media only screen and (max-width: 720px) {

.thankyou-window .l .h3,
.thankyou-window .r .h4 {
	margin-bottom: 24px;
}

.thankyou-window .close2 {
	margin-top: 24px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.ioa .mainsectionjs-block {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
}